[{
    "Id": "AddProductToHotcakes",
    "Title": {
        "default": "Add product to Hotcakes Commerce cart"
    },
    "HelpText": {
        "default": "This action adds a product to the cart."
    },
    "TypeStr": "DnnSharp.Hotcakes.Actions.AddProduct, DnnSharp.Hotcakes",
    "Settings": {
        "Group": "Hotcakes"
    },
    "Parameters": [
        {
            "Id": "ProductSku",
            "Title": {
                "default": "Product Sku"
            },
            "HelpText": {
                "default": "Sku of product to be added."
            },
            "Type": "Text"
        },
        {
            "Id": "ProductPrice",
            "Title": {
                "default": "Product price"
            },
            "HelpText": {
                "default": "Specify a price if you don't want to use a default one. Can contain form tokens (for example [Price]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "ProductQuantity",
            "Title": {
                "default": "Product quantity"
            },
            "HelpText": {
                "default": "Specify the quantity. Can contain form tokens (for example [Quantity]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "IncreaseQuantityForSameProductSamePrice",
            "Title": {
                "default": "Increase quantity for same product same price"
            },
            "HelpText": {
                "default": "If true (the default Hotcakes behaviour) then when re-adding the same product with the same price will just increase the quantity."
            },
            "Type": "Boolean"
        },
        {
            "Id": "ProductName",
            "Title": {
                "default": "Optional product name"
            },
            "HelpText": {
                "default": "Set a value if you want the cart item to appear with a name different from the default one. Can contain form tokens (for example [ProductName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "TaxScheduleName",
            "Title": {
                "default": "Tax schedule name"
            },
            "HelpText": {
                "default": "This should be equal to tax schedule name in Hotcakes. Can contain form tokens (for example [TaxScheduleName]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Text"
        },
        {
            "Id": "ProductChoices",
            "Title": {
                "default": "Choices"
            },
            "HelpText": {
                "default": "Optionally provide a list of choices values. Every product can have a number of predefined choices. Can contain form tokens (for example [ChoiceValue]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Choice name (should be equal to a choice name in Hotcakes)",
                "ValueColumn": "Value",
                "ButtonName": "Add choice"
            }
        },
        {
            "Id": "ProductShortDescription",
            "Title": {
                "default": "Product short description"
            },
            "HelpText": {
                "default": "Specify a custom html fragment to be displayed as the cart item description. Setting this will make the choices Not appear in the item description. Can contain form tokens and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "Textarea"
        },
        {
            "Id": "ProductCustomProperties",
            "Title": {
                "default": "Custom properties"
            },
            "HelpText": {
                "default": "Optionally provide a list of custom properties. This are usefull for integrating with external systems. Can contain form tokens (for example [PropertyValue]) and <a href=\"http://www.dnnsharp.com/dnn/modules/my-custom-tokens\" target=\"_blank\" tabindex=\"-1\">My Tokens</a>."
            },
            "Type": "NameValueCollection",
            "Settings": {
                "NameColumn": "Property name",
                "ValueColumn": "Value",
                "ButtonName": "Add property"
            }
        },
        {
            "Id": "OutputTokenName",
            "Title": {
                "default": "Output Token Name"
            },
            "HelpText": {
                "default": "Specify a token name to save the order id into. You can access it later using the token syntax, for example [OrderId]"
            },
            "Type": "Text"
        }
    ]
}]