<BuildPackage>
	<Name>DNN Hotcakes Add-on</Name>
	<BuildScriptVersion>2</BuildScriptVersion>

	<Resources>

		<BasePathInsideZip>bin</BasePathInsideZip>
		<Copy>bin/Release/DnnSharp.Hotcakes.dll</Copy>
		
		<BasePathInsideZip>DesktopModules\DnnSharp\Common</BasePathInsideZip>
		<Copy>Config</Copy>

	</Resources>
</BuildPackage>
